<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <div>
    <h1>게시판</h1>
    <p>
      <a href="/border/write">글쓰기</a>
    </p>
  </div>
  <div>
    <table>
      <thead>
      <tr>
        <th>번호 </th>
        <th>제목 </th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="border : ${border}"> <!--반복 출력-->
        <td>
          <a th:href="@{/border/read/{num}(num=${border.num})}"><span th:text="${border.num}"></span></a>
        </td>
        <td>
          <a th:href="@{/border/read/{num}(num=${border.num})}"><span th:text="${border.title}"></span></a>
        </td>
      </tr>
      </tbody>
    </table>

    <br>
    제목으로 검색
    <form action="/border" method="get">
    <input type="text" name="title">
    </form>

  </div>
</div> <!-- /container -->
</body>
</html>